.mask{
    width:100%;
    height:100vh;
    position: relative;
}
.intro-img{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.mask::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #000;
    opacity: 0.8;
}
.hero{
    width: 100%;
    height: 100%; 
}
.hero .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    text-align: center;

}
.hero .content h3{
     color:aliceblue;
    font-size: 2.5rem;
    padding: 0.6rem 0 1.5rem;
}
.hero .content p{
    font-size: 2.4rem;
    font-weight: 200;
    text-transform: uppercase;
}
.content .btn{
    margin: 1rem 0.2rem;
}
.btn-light:hover {
      background-color:coral;
}
.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    
    border-radius: 50%;
    height: 280px;
    width: 280px;
    margin:20px 0px 0 50px;
}
.profile-picture-background{
    height:92%;
    width:92%;
    background-image: url("../assets/profilepic.jpg");
    background-size: cover;
    
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    border-radius: 50%;
    background-repeat: no-repeat;
   
}
.profile-picture-background:hover{
    transform:scale(1.07);
    transition: 1s ease-out;
}

@media screen and (max-width: 640px){
    .hero .content h3
    {
        font-size: 2.5rem;
    }    
    .hero .content p{
        font-size: 1.4rem;
    }    
}
